@charset "UTF-8";
/*! Start CSS. See SCSS file for documentation. */
/*
    Design for use with the basic [CSS Mustard Cut](https://github.com/Fall-Back/CSS-Mustard-Cut)
    IE 9+, FF 8+, Opera 12, [Chrome 29+, Android ~4.4+]
    Chrome 29+, Opera 16+, Safari 6.1+, iOS 7+, Android ~4.4+

    Notes:
    
    -moz-calc because this supports FF8+ and I like to be thorough.
    
    
    Resources:
    * http://www.smashingmagazine.com/2012/12/css-baseline-the-good-the-bad-and-the-ugly/
    * https://24ways.org/2006/compose-to-a-vertical-rhythm

    NOTE TO SELF.
    Where borders are concened, probably best to leave margins alone and use padding to maintain
    baseline-grid. After all, if there's a border, there will have to be padding too.


*/

//@debug ($fallback--base-rem-space-unit / 8) - ((($input-border-width + 0px) / 1px) * $fallback--base-rem-1px);
@function calc-rem-from-px($px, $negative: false) {
    // e.g. $px = 16px (and $fallback--base-rem-1px = 0.0625rem)
    // 16px + 0px = 16px | 16 + 0px = 16px (add unit if necessary)
    // 16px / 1px = 16 (strip unit)
    // 16px * 0.0625rem = 1rem
    $value: ((($px + 0px) / 1px) * $fallback--base-rem-1px);

    @if $negative {
        $value: -#{$value};
    }

    @return $value;
}
@function calc-px-from-rem($rem, $negative: false) {
    // e.g. $rem = 1.5rem
    // 1.5rem  + 0rem = 1.5rem | 1.5 + 0rem = 1.5rem (add unit if necessary)
    // 1.5rem / 1rem = 1 (strip unit)
    // 1.5 * 16px = 24px
    $value: ((($rem + 0rem) / 1rem) * $fallback--root-font-size);

    @if $negative {
        $value: -#{$value};
    }

    @return $value;
}

//@debug calc-px-from-rem(1.5rem);

@mixin bordered($padding, $border-width) {
    border-width: $border-width;
    border-style: solid;
    border-color: $ui-color--base;
    //padding-top: calc-rem-from-px($padding - $border-width);
    //padding-left: calc-rem-from-px($padding - $border-width);
    //padding-right: calc-rem-from-px($padding - $border-width);
    // Opera Mini needs this:
    padding-top:   #{$padding};
    padding-top:   -moz-calc(#{$padding} - #{$border-width});
    padding-top:        calc(#{$padding} - #{$border-width});
    
    // Opera Mini needs this:
    padding-left:  #{$padding};
    padding-left:  -moz-calc(#{$padding} - #{$border-width});
    padding-left:       calc(#{$padding} - #{$border-width});
    
    // Opera Mini needs this:
    padding-right: #{$padding};
    padding-right: -moz-calc(#{$padding} - #{$border-width});
    padding-right:      calc(#{$padding} - #{$border-width});

    &::after {
        display: block;
        content: "";
        height: 0;
        margin-top: -$border-width;
        //margin-bottom: calc-rem-from-px($padding - $border-width);
        //margin-bottom: calc(#{$padding} - #{$border-width});
        margin-bottom: $padding;
    }
}


/* Output class for reference (tmp): */
.ref {
    fallback--base-rem-space-unit: $fallback--base-rem-space-unit;
    fallback--base-rem-1px: $fallback--base-rem-1px;
}



/* 'Globals': */
$ui-color--base: $fallback--base-ui-color !default;
$ui-color--text: $fallback--base-text-color !default;

$ui-border-width: 1px !default;
$ui-border-radius: 3px !default;
$ui-border-style: solid !default;

$monospace-font-family: monospace !default;


//$max-main-line-length: 0 !default;
$max-main-line-length: 50em !default;

/* Global focus style: */
$focus-outline-style: 1px dotted #000 !default;

$text-input-focus-shadow: 0 0 3px 0 $ui-color--base inset !default;
$text-input-focus-border: false !default;

@mixin text-input-focus() {
    @if $text-input-focus-shadow != false {
        box-shadow: $text-input-focus-shadow;
        // Remove Chromes focus outline:
        outline: 0;
    }
    @if $text-input-focus-border != false {
        // Remove Chromes focus outline:
        border: $text-input-focus-border;
    }
}

// ELEMENTS

// <a> 
$anchor-text-color: $ui-color--base !default;
$anchor-text-color--hover: darken($anchor-text-color, 15%) !default;
$anchor-text-decoration: none !default;
$anchor-border-bottom: 1px solid lighten($anchor-text-color, 30%) !default;
$anchor-border-bottom--hover: 2px solid lighten($anchor-text-color--hover, 30%) !default;
$anchor-add-external-link-indicator: true !default;



// <body>
$body-padding: $fallback--base-rem-space-unit !default;
$body-margin: 0 !default;
$body-min-width: 250px !default;
$body-max-width: none !default;



// <button>
$button-h-padding: $fallback--base-rem-space-unit / 4 !default;

$button-text-color: #fff !default;
$button-background-color: $ui-color--base !default;
$button-background-color--state-1: lighten($ui-color--base, 10%) !default;

$button-border-colour: darken($ui-color--base, 10%) !default;
$button-border-width: $ui-border-width !default;
$button-border-style: $ui-border-style !default;
$button-border-radius: $ui-border-radius !default;



// <fieldset>
$fieldset-border-width: $ui-border-width !default;
$fieldset-padding: $fallback--base-rem-space-unit !default;



// <legend>
// Note: when a legend is present the width of the top border of the fieldset seems to be ignored,
// so the padding reduction that's meant to offset the border width is actually too small for the
// top padding. CSS can't (yet) detect if there is a legend inside the fieldset so there needs to
// be some corrective style on the legend itself. That would be bottom margin.
$legend-border-width: 0 !default;
$legend-h-padding: $fallback--base-rem-space-unit / 4 !default;



// <input> (also <select>, <option>, <textarea>)
$input-h-padding: $fallback--base-rem-space-unit / 4 !default;

$input-text-color: $ui-color--text !default;
$input-background-color: #fff !default;

$input-border-colour: darken($ui-color--base, 10%) !default;
$input-border-width: $ui-border-width !default;
$input-border-style: $ui-border-style !default;
$input-border-radius: $ui-border-radius !default;

$input-min-height: ($fallback--base-rem-space-unit * 1.25);

// File inputs' natural width varies between browers and is too wide for smaller screens.
// The only way to get it to collapse on smaller screens is to speciify `width: 100%;` but this
// isn't great on larger screens, so setting a `max-width` solves this and produces a consistent
// width across browsers.
// Override this with your preferred width or `false`:
$input-file-max-width: 18.5em !default;



// <hx>
$h1-font-size: 42px / $fallback--base-font-size * 1em !default;
$h1-height:  $fallback--base-rem-space-unit * 2 !default;
$h1-font-variant: normal !default;

$h2-font-size: 30px / $fallback--base-font-size * 1em !default;
$h2-height:  $fallback--base-rem-space-unit * 1.5 !default;
$h2-font-variant: normal !default;

$h3-font-size: 24px / $fallback--base-font-size * 1em !default;
$h3-height:  $fallback--base-rem-space-unit * 1.5 !default;
$h3-font-variant: normal !default;

$h4-font-size: 18px / $fallback--base-font-size * 1em !default;
$h4-height:  $fallback--base-rem-space-unit !default;
$h4-font-variant: normal !default;

$h5-font-size: 15px / $fallback--base-font-size * 1em !default;
$h5-height:  $fallback--base-rem-space-unit !default;
$h5-font-variant: normal !default;

$h6-font-size: 14px / $fallback--base-font-size * 1em !default;
$h6-height:  $fallback--base-rem-space-unit !default;
$h6-font-variant: normal !default;
//$h6-font-variant: small-caps !default;



// <hr>
$hr-border-width: $ui-border-width !default;
$hr-border: $hr-border-width solid $ui-color--base !default;
//$hr-margin-top: calc-rem-from-px($hr-border-width, true);
$hr-margin-top: -$hr-border-width;
$hr-margin-bottom: $fallback--base-rem-space-unit;



// <pre> (and nested <code>)
$pre-background-color: lighten($ui-color--base, 55%) !default;
//$pre-margin-bottom: $fallback--base-rem-space-unit !default;
//$pre-margin-bottom: ($fallback--base-rem-space-unit * 2) - calc-rem-from-px(($fallback--base-line-height * 2) - 17px);
$pre-margin-bottom: calc-rem-from-px(($fallback--base-line-height * 2) - 17px);
// (margin to account for scrollbar, we can check for touch in most browsers and change this
// or use custom scrollbars = see `pre` below)
// Note top/bottom padding takes into account scrollbar height:
$pre-code-padding: ($fallback--base-rem-space-unit / 2);



// <small>
$small-font-size: 80% !default;



// <table> etc.
$table-border-width: $ui-border-width !default;
$table-border: $table-border-width solid $ui-color--base !default;
$table-background-color: #fff !default;
$table-cell-padding: $fallback--base-rem-space-unit / 2;
$table-caption-background-color: $ui-color--base !default;
$table-caption-text-color: #fff !default;
$table-caption-padding: $table-cell-padding !default;



// <textarea>
$textarea-resize: vertical !default;



// <video>
$video-background-color: #333;



// <audio>, <canvas>, <iframe>, <img>, <object>, <progress>, <svg>
$media-element-vertical-align: middle !default;



// Selections:
$selection-text-color: #fff;
$selection-background-color: lighten($ui-color--base, 30%) !default;
$selection-text-shadow: none;



// Attempt to organise 'normalisation' by tag.
// All elements are listed, but elements that are non-visual or obsolete are commented out, as are
// elements where no styles are applied.
//
// KEY:
// !     = non-visual element
// --x-- = obselete / deprecated element
// ^     = 'defined above'


// Normalise, Sanitise, A bit of Reset, Scut and Inuit, plus some other opinionated styless.

// Sources Key:
// N = Normalise
// I = Inuit
// S  = Sanitize
// Sc = Scut
// H  = HTML5BP
// A = My own additions

/*------------------------------------------------------------------------------------------------*\

    Root Styles

\*------------------------------------------------------------------------------------------------*/

/*      
    1. Change the default box-sizing (-moz prefix for FF8-28).
    
    2. `min-height` _should_ be what we want here (as declared in inuit css), except that
       `min-height` doesn't works as expected; child elements set to `(min-)height: 100%;` won't
       increase their height - they'll only do that if the parent has `height: 100%;`.
       This can lead to situations where sometimes elements (and thus their visible decoration) do
       not stretch to be tall enough for their content (because they're limited to 100% height).
    
    3. Force scrollbars to always be visible to prevent awkward 'jumps' when
       navigating between pages that do/do not have enough content to produce
       scrollbars naturally. (I)
       
    4. If not using default (16px) font-size, convert the value to a percentage so as not to
       override user font settings.
       
    5. Prevent font size adjustments after orientation changes in IE and iOS. (N)
    
    6. Add the default cursor in all browsers. (S)
        
*/
html {  
    -moz-box-sizing: border-box; /* 1 */
    box-sizing: border-box; /* 1 */

    height: 100%; /* 2 */

    overflow-y: scroll; /* 3 */

    color: $fallback--base-text-color;
    background-color: $fallback--base-background-color;

    @if ($fallback--root-font-size != 16px) {
        font-size: #{($fallback--root-font-size / 1px) / 0.16}%; /* 4 */
    }
    font-family: $fallback--base-font-family;

    -ms-text-size-adjust: 100%; /* 5 */
    -webkit-text-size-adjust: 100%; /* 5 */

    // -- -moz-osx-font-smoothing: grayscale; --
    // -- -webkit-font-smoothing: antialiased; --
    
    // -- text-rendering: optimizeLegibility; --

    cursor: default; /* 6 */
}
/*
    Fix font size for IE10 as it can't calculate % to 1 decimal place! Grrr.
*/
@if ($fallback--root-font-size != 16px) {
    _:-ms-lang(x), html { font-size: calc(0.625rem + 0.1px)\9; }
}

* {
    margin:  0;

    padding: 0;

    font-size: inherit;
    line-height: inherit;
}


/*
    S1. Remove repeating backgrounds in all browsers (opinionated).
    S2. Add box sizing inheritence in all browsers (opinionated).

    A1. Supporting FF8+ due to Mustard Cut so including for completeness.
*/
*,
::before,
::after {
    background-repeat: no-repeat; /* S1 */

    -moz-box-sizing: inherit; /* A1 */
         box-sizing: inherit; /* S2 Sc I */

    -webkit-font-smoothing: inherit; /* Sc */

    /*border-style: inherit; /* AK */
    // This had been commented out, but I can't remember why. I think I read it was detremental
    // but I can't rember on what. Possible Google Maps or similar.
    // However, removing it is detremental to many other FallBack patterns so reinstating it for now
    // until I can specify borders on those elements explicity.
    //border-width: 0; /* AK */
    //border-color: $ui-color--base; /* AK1 */
}

/*
    S1. Add text decoration inheritance in all browsers (opinionated).
    S1. Add vertical alignment inheritence in all browsers (opinionated).
*/
::before,
::after {
    text-decoration: inherit; /* S1 */
    vertical-align: inherit; /* S2 */
}


body {
    font-size: ($fallback--base-font-size / $fallback--root-font-size * 1em);
    line-height: $fallback--base-rem-space-unit;
    padding: $body-padding;
    margin: $body-margin;


    -height: 100%;
    min-height: 100%;
    min-width: $body-min-width;
    max-width: $body-max-width;

    /* This ensures that absolutely positioned child elements expand to the full height of the body. */
    position: relative;
}


/*------------------------------------------------------------------------------------------------*\

    All Elements

\*------------------------------------------------------------------------------------------------*/

/*
a:link a:visited a:hover a:active a:focus
*/
/* [N1] Remove the gray background color from active links in IE 10. */
/**
 * S1. Remove the gray background on active links in IE 10.
 * S2. Remove the gaps in underlines in iOS 8+ and Safari 8+.
 */

/*
    1. Remove the gray background on active links in IE 10. (S)
    
    2. Remove the gaps in underlines in iOS 8+ and Safari 8+. (S)

    3. Remove the tapping delay from clickable elements . (S)
*/
a[href] {
    padding-bottom: $fallback--base-rem-space-unit / 12;

    border-bottom: $anchor-border-bottom;

    color: $anchor-text-color;
    background-color: transparent; /* 1 */

    text-decoration: $anchor-text-decoration; 
    -webkit-text-decoration-skip: objects; /* 2 */

    -ms-touch-action: manipulation; /* 3 */
    touch-action: manipulation; /* 3 */

    &:hover,
    &:active,
    &:focus {
        border-bottom: $anchor-border-bottom--hover;

        color: $anchor-text-color--hover;

        outline-width: 0;
    }
}

    @if $anchor-add-external-link-indicator == true {
        a[href][rel="external"]::after {
            border-color: transparent  currentColor;
            border-style: solid;
            border-width: 0 0.4em 0.4em 0;
            content: "";
            display: inline-block;
            height: 0;
            margin-left: 0.2em;
            margin-right: 0.2em;
            vertical-align: super;
            width: 0;
        }
    }

abbr {
    cursor: help; /* I */

    /**
     * N1. Remove the bottom border in Firefox 39-.
     * N2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
    &[title] {
        border-bottom: none; /* N1 */
        text-decoration: underline; /* N2 */
        text-decoration: underline dotted; /* N2 */
    }
}

//--acronym {}--

address {
    margin-bottom: $fallback--base-rem-space-unit;
}

//--applet {}--
//!area {}

article {
    display: block;
    margin-bottom: $fallback--base-rem-space-unit;
}

aside {
    display: block;
    margin-bottom: $fallback--base-rem-space-unit;
}

/*
    N1. Add the correct display in IE 9-.
*/
audio {
    display: inline-block; /* N1 */
    vertical-align: $media-element-vertical-align; /* S */

    &:not([controls]) {
        display: none; /* S: Chrome 44-, iOS 8+, Safari 9+ */
        height: 0; /* N */
    }
}


/**
 * S: Add the correct font weight in Chrome, Edge, and Safari.
 */
b {
    font-weight: bolder;
    // Prevent increase in line-height:
    line-height: normal;
}

//base {}
//--basefont {}--
//bdi {}
//bdo {}
//--bgsound {}
//--big {}--
//--blink {}--

blockquote {
    margin-bottom: $fallback--base-rem-space-unit;
    margin-left: $fallback--base-rem-space-unit;
    font-style: italic;
    /*
        @TODO - set up vars and styles for the most common quote styles.
        I.e. left-border, and enclosing qutoes.
    */
}

//^body {}
//br {}

// [N0] Address inconsistent `text-transform` inheritance for `button`.
// All other form control elements do not inherit `text-transform` values.
// Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
// 2. Correct inability to style clickable `input` types in iOS.
// 3. Improve usability and consistency of cursor style between image-type
//    `input` and others.

@mixin button($color: $button-text-color, $bg-color: $button-background-color, $bg-color--state-1: $button-background-color--state-1) {
    //display: inline-block; /* AK. IE9 needs this. */
    //display: inline-flex;
    //align-items: center;
    overflow: visible; /* S: Internet Explorer 11-, N: Show the overflow in Edge, Firefox, and IE. */
    background-color: $bg-color; /* S */
    color: $color; /* S */

    font-family: inherit; /* S */
    font-style: inherit; /* S */
    font-weight: inherit; /* S */

    // Sort out the hight of buttons. At 12px spacing, should be 30px high with 3px top/bottom
    // margin.
    // Note Edge doesn't like: `line-height: calc(3rem - 2px)` if `display: inline-flex`
    // FF8 - ? doesn't like `line-height: -moz-calc()` and ignores
    
    line-height: calc(#{$input-min-height} - #{$input-border-width * 2});
    //min-height: calc(#{$input-min-height} - #{$input-border-width * 2});


    text-transform: none; /* [N0], N: Remove the inheritance of text transform in Edge, Firefox, and IE. */
    /* -webkit-appearance: button; // [N2] */
    -webkit-appearance: none; /* AK */
    cursor: pointer; /* [N3] */

    margin: ($fallback--base-rem-space-unit / 8) 0;
    border-color: $button-border-colour;
    border-style: $button-border-style;
    border-width: $button-border-width;
    border-radius: $button-border-radius;

    // Opera Mini needs this:
    //padding-top: #{$fallback--base-rem-space-unit / 8};
    //padding-top: -moz-calc(#{$fallback--base-rem-space-unit / 8} - #{$input-border-width});
    //padding-top: calc(#{$fallback--base-rem-space-unit / 8} - #{$input-border-width});
    // Opera Mini needs this:
    //padding-bottom: #{$fallback--base-rem-space-unit / 8};
    //padding-bottom: -moz-calc(#{$fallback--base-rem-space-unit / 8} - #{$input-border-width});
    //padding-bottom: calc(#{$fallback--base-rem-space-unit / 8} - #{$input-border-width});
    
    padding-top: 0;
    padding-bottom: 0;
    padding-left: $button-h-padding;
    padding-right: $button-h-padding;

    //vertical-align: baseline;
    // Keep adjacent elements in the middle:
    vertical-align: middle;

    /* S: Remove the tapping delay from clickable elements */
    -ms-touch-action: manipulation; /* S: IE10 */
    touch-action: manipulation;

    /**
     * Restore the focus styles unset by the previous rule.
     */

    &:-moz-focusring {
      outline: 1px dotted ButtonText;
    }

    &:hover,
    &:active,
    &:focus {
        background-color: $bg-color--state-1;
    }
    
    &:focus {
        outline: $focus-outline-style;
    }
}

button {
    @include button;
}

// Opera Mini:
_:-o-prefocus, :root button {
    line-height: $fallback--base-rem-space-unit !important;
}

// Old FF:
/*
    Remove the inner border and padding in Firefox and fix height.
    
    Early FF doesn't correctly apply the box sizing to inputs (buttons?)
    Adding margin to -moz-focus-inner helps to force the correct height.
    It doesn't have any effect in newer FF.
    It ceases to have an effect from around FF54 onwards? Dev edition.
    The correct box sizing is applied from FF30 onwards.
*/
button::-moz-focus-inner {
    margin: 2px 0;
}

@supports (-moz-appearance:none) and (background-blend-mode:difference,normal) {
    button::-moz-focus-inner {
        margin: 0;
    }
}

/*
    N1. Add the correct display in IE 9-.
*/
canvas {
    display: inline-block;  /* N1. */
    vertical-align: $media-element-vertical-align;
}

caption {
    font-weight: bold;
    padding: $table-caption-padding;
    background-color: $table-caption-background-color;
    color: $table-caption-text-color;
}

//--center {}
// cite {}

code {
    font-family: $monospace-font-family, monospace; /* S, N */
    font-size: 1em; /* N: Address odd `em`-unit font size rendering in all browsers. */

    line-height: 0; /* AK: Prevent the element increasing the line-height of the parent. */
}

//!col {}
//!colgroup {}
//command {}
//content {}
//data {}
//datalist {}

dd {
    margin-left:  $fallback--base-rem-space-unit * 1.5;
}

//del {}

details {
    display: block; /* N: IE 10/11 */
}

/* N: Address styling not present in Safari and Chrome. */
dfn {
    font-style: italic;
}

//dialog {}
//--dir {}--
//div {}

dl {
    margin-bottom: $fallback--base-rem-space-unit;
}

dt {
    font-weight: bold;
}

//element {}
//em {}
//embed {}

fieldset {
    margin-bottom: $fallback--base-rem-space-unit;

    //@include bordered(calc-px-from-rem($fieldset-padding), $fieldset-border-width);
    @include bordered($fieldset-padding, $fieldset-border-width);
}

    fieldset fieldset {
        border-width: 0;
        padding: 0;
        margin: 0;
    }
        fieldset fieldset::after {
            display: none;
        }

figcaption {
    display: block;
}

figure {
    display: block;
    margin-bottom: $fallback--base-rem-space-unit;
}

//--font {}--

footer {
    display: block;
    margin-bottom: $fallback--base-rem-space-unit;
}

form {
    margin-bottom: $fallback--base-rem-space-unit;
}

//--frame {}--
//--frameset {}--
//!head {}

header {
    display: block;
    margin-bottom: $fallback--base-rem-space-unit;
}

hgroup {
    display: block;
}

h1 {
    margin-bottom: $fallback--base-rem-space-unit;
    font-size: $h1-font-size;
    line-height: $h1-height;
    font-variant: $h1-font-variant;
}

h2 {
    margin-bottom: $fallback--base-rem-space-unit;
    font-size: $h2-font-size;
    line-height: $h2-height;
    font-variant: $h2-font-variant;
}

h3 {
    margin-bottom: $fallback--base-rem-space-unit;
    font-size: $h3-font-size;
    line-height: $h3-height;
    font-variant: $h3-font-variant;
}

h4 {
    margin-bottom: $fallback--base-rem-space-unit;
    font-size: $h4-font-size;
    line-height: $h4-height;
    font-variant: $h4-font-variant;
}

h5 {
    margin-bottom: $fallback--base-rem-space-unit;
    font-size: $h5-font-size;
    line-height: $h5-height;
    font-variant: $h5-font-variant;
}

h6 {
    margin-bottom: $fallback--base-rem-space-unit;
    font-size: $h6-font-size;
    line-height: $h6-height;
    font-variant: $h6-font-variant;
}

hr {
    /* box-sizing: content-box; */
    /* height: 0; */
    height: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: $hr-border;
    margin-top: $hr-margin-top;
    margin-bottom: $hr-margin-bottom;
    overflow: visible; /* N: Show the overflow in Edge and IE. */
}

//^html {}
//i {}

iframe {
    vertical-align: $media-element-vertical-align;
}

//--image {}--

// I1. Fluid images for responsive purposes.
// I2. Offset `alt` text from surrounding copy.
// I3. Setting `vertical-align` removes the whitespace that appears under `img` elements when they
//  are dropped into a page as-is. Safer alternative to using `display: block;`.
img {
    vertical-align: $media-element-vertical-align; /* S, I3 */
    border-style: none; /* N: Remove the border on images inside links in IE 10-. */
    max-width: 100%; /* [I1] */
    font-style: italic; /* [I2] */

    /**
     * I1. Google Maps breaks if `max-width: 100%` acts upon it; use their selector to remove the
     *     effects.
     * I2. If a `width` and/or `height` attribute have been explicitly defined, let's not make the
     *     image fluid.
     */
    .gm-style &, /* [I1] */
    &[width], /* [I2] */
    &[height] {  /* [I2] */
        max-width: none;
    }
}

/** N:
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
input {
    /* color: inherit; // N1 */
    /* font: inherit; // N2 */
    /* margin: 0; // N3 */

    font-family: inherit; /* S */
    font-style: inherit; /* S */
    font-weight: inherit; /* S */

    /* AK: mainly for IE */

    /* -webkit-border-radius: 0; // S: iOS 8+ // AK not needed as radius declared below. */

    color: $input-text-color;
    background-color: $input-background-color;
    
    border-width: $input-border-width;
    border-radius: $input-border-radius;
    border-color: $input-border-colour;
    border-style: $input-border-style;

    //padding-top: ($fallback--base-rem-space-unit / 8) - calc-rem-from-px($input-border-width);
    // Opera Mini needs this:
    padding-top: #{$fallback--base-rem-space-unit / 8};
    padding-top: calc(#{$fallback--base-rem-space-unit / 8} - #{$input-border-width});
    //padding-bottom: ($fallback--base-rem-space-unit / 8) - calc-rem-from-px($input-border-width);
    // Opera Mini needs this:
    padding-bottom: #{$fallback--base-rem-space-unit / 8};
    padding-bottom: calc(#{$fallback--base-rem-space-unit / 8} - #{$input-border-width});
    padding-left: $input-h-padding;
    padding-right: $input-h-padding;

    // Allow inputs to contract to avoid braking containers:
    max-width: 100%;
    
    // Keep adjacent elements in the middle:
    vertical-align: middle;
    //vertical-align: top;

    /* S: Remove the tapping delay from clickable elements */
    -ms-touch-action: manipulation; /* S: IE10 */
    touch-action: manipulation;

    /**
     * Remove the inner border and padding in Firefox.
     */
    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }

    /**
     * Restore the focus styles unset by the previous rule.
     */
    &:-moz-focusring {
        outline: 1px dotted ButtonText;
    }


}

/*
    Remove the inner border and padding in Firefox and fix height.
*/
::-moz-focus-inner {
    border: 0;
    padding: 0;
    margin: 0;
}


input:not([type="button"]):not([type="checkbox"]):not([type="radio"]):not([type="progess"]):focus {
    @include text-input-focus();
}

input:not([type="checkbox"]):not([type="radio"]) {
    min-height: $input-min-height; /* ~S */
    margin: ($fallback--base-rem-space-unit / 8) 0;
    /* margin: calc(#{($fallback--base-rem-space-unit / 8)} * 1.1) 0; // AK: calc for IE rounding issue */
}

input[type=checkbox],
input[type=radio] {
    /* Vertical centering via line-height/vertical align not satisfactory: */
    //vertical-align: top;
    //-webkit-transform: translateY(40%);
    //    -ms-transform: translateY(40%);
    //        transform: translateY(40%);
   
    /*
        IE9 adds the border and background:
    */
    border: 0;
    background: transparent;
}



[type="button"],
[type="reset"],
[type="submit"] {
    @include button;
}

// IE10 makes the line-height massive with calc, but doesn't appear to need it anyway:
[type="button"],
[type="reset"], 
[type="submit"] {
    line-height:1\9;
}


[type="file"] {
    /* V-center the text in FF: */
    //line-height: $input-min-height;
    cursor: pointer;
    padding: 0;
    /* On smaller devices the width of these inputs can force horizontal scrolling. */
    /* Max-width doesn't work to solve this, but may be needed to restrict width on larger screens */
    width: 100%;
    @if $input-file-max-width != false {
        max-width: $input-file-max-width;
    }
    // IE and Edge behave differently (both to other browsers and each other) and so min-height 
    // and line-height settings don't seem consistent.
    // Using height explictly for now.
    //height: $input-min-height + calc-rem-from-px(($input-border-width * 2));
    
    // Make sure button corners aren't visisible:
    overflow: hidden;
}

// This helps avoid white 'bleed-through' between containing element and the pseudo-elements in
// IE 10-11:
_:-ms-input-placeholder, :root [type="file"] {
    background-color: $ui-color--base;
}

/* IE 9 (I think): */
@media screen and (min-width:0\0) and (min-resolution:+72dpi) {
    [type="file"] {
        padding-left: $input-h-padding;
    }
}

/*input::-moz-placeholder {
    line-height: inherit;
}*/


//input[type=file] > input[type=button]::-moz-focus-inner 
::-moz-focus-inner {
    border: 0;
    padding: 0;
    margin: 0;
}
input[type=file]:-moz-focusring {
    outline: 1px dotted #f00;
}

// Temp experiments:
// MS pseudo-elements.
// Note - there's some odd spacing issues between the containing element and the pseudo-elements,
// where background colours can show through unexpectedly, so there are some tweaks to rectify this.
[type=file]::-ms-value {
    background: $input-background-color;
    border: 0;
    margin-left: -6px;
    margin-right: 0;
    padding-left: 0.5em;
    border-top-left-radius: $input-border-radius - $input-border-width;
    border-bottom-left-radius: $input-border-radius - $input-border-width;
}

[type=file]:focus::-ms-value {
    @include text-input-focus();
}

[type=file]::-ms-browse {
    // Not sure why this was set:
    //overflow: visible;
    background-color: $ui-color--base;
    color: #fff;
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    min-height:  $input-min-height;
    text-transform: none;
    cursor: pointer;

    border-width: 0 0 0 $input-border-width;
    border-color: $input-border-colour;
    border-style: $input-border-style;
    border-top-right-radius: $input-border-radius - $input-border-width;
    border-bottom-right-radius: $input-border-radius - $input-border-width;
    /* padding-top: 0.125rem; */
    /* padding-bottom: 0.125rem; */
    
    padding-left: $input-h-padding;
    padding-right: $input-h-padding;
    
    // IE10 doesn't like rem so convert to px:
        // IE10:
    padding-left: #{calc-px-from-rem($input-h-padding)}\9;
    padding-right: #{calc-px-from-rem($input-h-padding)}\9;
    
    border-style: solid;

    // Spacing height + 2 sets of input padding, plus border width
    // - the button doesn't need it in IE:
    //height: $fallback--base-rem-space-unit + ($input-border-width * 2));
    //height: calc(#{$fallback--base-rem-space-unit} + #{$input-border-width * 2});
    

}

    [type=file]:hover::-ms-browse,
    [type=file]:active::-ms-browse,
    [type=file]:focus::-ms-browse {
        background-color: $button-background-color--state-1;
    }


[type=file]::-webkit-file-upload-button {
    // Not sure why this was set:
    //overflow: visible;

    vertical-align: top;
    box-sizing: border-box;
    background-color: $ui-color--base;
    color: #fff;
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    
    // Spacing height + 2 sets of input padding, minus border width:
    height: calc(#{($fallback--base-rem-space-unit * 1.25)} - #{$input-border-width * 2});
    text-transform: none;
    -webkit-appearance: none;
    cursor: pointer;
    border-width: 0 $input-border-width 0 0;
    border-color: $input-border-colour;
    border-style: $input-border-style;
    border-radius: 0;
    /*border-top-left-radius: $input-border-radius - $input-border-width;
    border-bottom-left-radius: $input-border-radius - $input-border-width;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;*/
    padding-top: 0;
    padding-bottom: 0;
    padding-left: $input-h-padding;
    padding-right: $input-h-padding;
    border-style: solid;
}


    [type=file]:hover::-webkit-file-upload-button,
    [type=file]:active::-webkit-file-upload-button,
    [type=file]:focus::-webkit-file-upload-button {
        background-color: $button-background-color--state-1;
    }

/**
 * N: Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}


/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
}

/**
 * N: Remove the inner padding and cancel buttons in Chrome on OS X and
 * Safari on OS X.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * S: Correct the text style on placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
    color: inherit;
    opacity: .54;
}

//ins {}

//--isindex {}--
/*
    A1. Prevent the element increasing the line-height of the parent.
*/
kbd {
    font-family: $monospace-font-family, monospace; /* S, N */
    font-size: 1em; /* N: Address odd `em`-unit font size rendering in all browsers. */
    line-height: 0; /* A1 */
}

//keygen {}

label {
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
    vertical-align: middle;
    //vertical-align: baseline;
    
    padding-top: $fallback--base-rem-space-unit / 4;
    padding-bottom: $fallback--base-rem-space-unit / 4;
    
    /* S: Remove the tapping delay from clickable elements */
    -ms-touch-action: manipulation; /* S: IE10 */
    touch-action: manipulation;
}

/**
 * N1. Correct the text wrapping in Edge and IE.
 * N2. Correct the color inheritance from `fieldset` elements in IE.
 * N3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
    /* box-sizing: border-box; /* N1 */
    color: inherit; /* N2 */
    display: table; /* N1 */
    max-width: 100%; /* N1 */
    /* padding: 0; /* N3 */
    white-space: normal; /* N1 */

    padding: 0 $legend-h-padding; /* AK */
    font-weight: bold; /* AK */
    border-width: $legend-border-width; /* AK */
    margin-top: -$legend-border-width; /* AK - offset border */
    margin-bottom: $fieldset-border-width; /* AK - offset border */
    /* Note $fieldset-border-width used deliberately - this is to account for the fact that fieldset
       top border width is ignored if there's a legend to the spacing is wrong. */
}


li {
    margin-left:  $fallback--base-rem-space-unit * 1.5;
}

    li ul,
    li ol {
        margin-bottom: 0;
    }

//!link {}
//--listing {}--
// N: Correct `block` display not defined for `main` in IE 11.
main {
    display: block;
    @if $max-main-line-length > 0 {
        max-width: $max-main-line-length;
        margin-left: auto;
        margin-right: auto;
    }
}

//!map {}

// N: Address styling not present in IE 8/9.
mark {
  background: #ff0;
  color: #000;
}

//--marquee {}--
//menu {}
//menuitem {}
//!meta {}
//meter {}
//--multicol {}--

nav {
    display: block; /* N */
}

//--nobr {}--
//--noembed {}--
//noframes {}
//noscript {}

object {
    vertical-align: $media-element-vertical-align;
}

ol {
    margin-bottom: $fallback--base-rem-space-unit;
}

optgroup {

    font-family: inherit; /*  N, S */
    font-style: inherit; /*  N, S */

    /* N: Don't inherit the `font-weight` (applied by a rule above). */
    /* NOTE: the default cannot safely be changed in Chrome and Safari on OS X. */
    font-weight: bold;
    
    color: $input-text-color;
    background-color: $input-background-color;
}

option {
    cursor: pointer; /* Sc */
    min-height: $fallback--base-rem-space-unit; /* AK */
    //height: $fallback--base-rem-space-unit; /* AK */
    //padding-top: 3px; /* AK: help v-center text. */
    padding-left: $input-h-padding;
    padding-right: $input-h-padding;
    
    // This v-centers the text in FF and Chrome. Edge doesn't apply this but looks ok regardless.
    // Just IE9-11 to sort out?
    display: flex;
    align-items: center;
}


//output {}

p {
    margin-bottom: $fallback--base-rem-space-unit;
}

//!param {}
//picture {}
//--plaintext {}--

/*
    Note: code is the most probable use for a `<pre>` tag. Other uses may occur (e.g. poem) but t
    these could be adjusted with a class. Could maybe make this default configurable but leave as it
    is for now as it's likely that a poem would need a complete re-style (e.g. fonts etc.).

    N1. Correct the inheritance and scaling of font size in all browsers.
    N2. Correct the odd `em` font sizing in all browsers.

    A1. Keep scrollbar visible to maintain vertical rhythm.
*/
pre {
    font-family: $monospace-font-family, monospace; /* N1 */
    font-size: 1em; /* N2 */
    overflow-y: auto; /* A1 */
    overflow-x: scroll; /* A1 */
    margin-bottom: $pre-margin-bottom; /* A */
    background-color: $pre-background-color; /* A */
}
    pre code {
        display: inline-block;
        //line-height: 1.5rem; /* Revert zeroed line-height (see) `code` */
        line-height: $fallback--base-rem-space-unit; /* Revert zeroed line-height (see) `code` */
        padding: $pre-code-padding;
    }


/*
    N1. Add the correct vertical alignment in Chrome, Firefox, and Opera.

    S1. Internet Explorer 11-, Windows Phone 8.1+
*/
progress {
    display: inline-block; /* S1 */
    vertical-align: $media-element-vertical-align; /* N1 */
}

//q {}
//rp {}
//rt {}
//rtc {}
//ruby {}
//s {}

samp {
    font-family: $monospace-font-family, monospace; /* * S, N */
    font-size: 1em; /* N: Address odd `em`-unit font size rendering in all browsers. */

    line-height: 0; /* AK: Prevent the element increasing the line-height of the parent. */
}

//!script {}

section {
    display: block; /* N */
    margin-bottom: $fallback--base-rem-space-unit;
}


// N1: Address inconsistent `text-transform` inheritance for `select`.
// All other form control elements do not inherit `text-transform` values.
//  Correct `select` style inheritance in Firefox.
select {
    cursor: pointer; /* Sc */

    /* AK: height because min-height doesn't change the expand button height in FF: */
    height: $fallback--base-rem-space-unit + ($fallback--base-rem-space-unit / 4); /* ~S */
    line-height: $fallback--base-rem-space-unit;

    text-transform: none; /* N1 */


    font-family: inherit; /* S */
    font-style: inherit; /* S */
    font-weight: inherit; /* S */

    color: $input-text-color;
    background-color: $input-background-color;

    border-width: $input-border-width;
    border-radius: $input-border-radius;
    border-color: $input-border-colour;
    border-style: $input-border-style;

    /* padding-top: ($fallback--base-rem-space-unit / 8) - calc-rem-from-px($input-border-width); */
    /* padding-bottom: ($fallback--base-rem-space-unit / 8) - calc-rem-from-px($input-border-width); */
    padding-left: $input-h-padding;
    /* padding-right: $input-h-padding; */
    margin: ($fallback--base-rem-space-unit / 8) 0;
    vertical-align: top; /* AK: For FF */

    /* S: Remove the tapping delay from clickable elements */
    -ms-touch-action: manipulation; /* S: IE10 */
    touch-action: manipulation;

    /* margin: calc(#{($fallback--base-rem-space-unit / 8)} * 1.1) 0; // AK: calc for IE rounding issue */

    /* S: */
    /* -moz-appearance: none;    // Firefox 35+ */
    /* -webkit-appearance: none; // Chrome 45+ */

    /* Expand button style for IE. (not sure yet as alterntive means it's more similar to Chrome) */
    /*&::-ms-expand {
        //display: none;        // Edge 12+, Internet Explorer 11-
        background-color: $ui-color--base;
        color: #fff;
        border: 0;
        margin-left: $input-h-padding;
        padding-left: $input-h-padding;
        padding-right: $input-h-padding;
    }

    &::-ms-expand:hover {
        background-color: $button-background-color--state-1;
    }*/
    &::-ms-expand {
        background-color: transparent;
        color: #000;
        border: 0;
        padding-left: $input-h-padding;
        padding-right: $input-h-padding;
    }

    &::-ms-value {
        color: currentColor;  /* Edge 12+, Internet Explorer 11- */
    }

    /* Remove inner padding and border in Firefox 4+. */
    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
}

select:not([multiple]) {
    background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+);
    background-repeat: no-repeat;

    background-position-x: 95%;
    background-position-y: 50%;
    
    -moz-appearance: none; 
	-webkit-appearance: none; 
	appearance: none;
    padding-left: $input-h-padding / 2;
    // Give webkit extra padding:
    // (not sure this is the best way but it seems FF and IE add the option padding, but webkit 
    // doesn't so this basially works)
    -webkit-padding-start: $input-h-padding;
    padding-right: $input-h-padding * 4;
}

// Undo for IE9-11:
_::selection, select:not([multiple]) {
    background-image: none\0;
    padding-right: 0\0;
}

select:focus {
    @include text-input-focus();
}

// FF
@supports (-moz-appearance: meterbar) {
    select {
        padding-right: $input-h-padding;
    }
}

select[multiple] {
    height: auto;
    margin-left: 0;
    margin-right: 0;
    margin-top: ($fallback--base-rem-space-unit / 8);
    //margin-bottom: ($fallback--base-rem-space-unit / 3.42857142857);
    margin-bottom: calc(#{($fallback--base-rem-space-unit / 8) * 3} - #{$input-border-width * 2});
    
    // iOS:
    //min-height: $input-min-height * 2;
    //-webkit-appearance: none; 
}
/*
    Note: Safari refuses to adjust the height of select[multiple] options.
    The only way I've managed to get it to adhere to the vertical rhythm is by adjust the font-size
    on the select:
    select[multiple] {
        font-size: 20px;
        margin-bottom: 8px;
    }
    
    This is no good, of course as it makes the text HUGE. Scaling it back with transform works:
    
        transform-origin: top;
        transform: scale(0.7);
        
    but of course the gaps around it are huge as well.
*/

//shadow {}

small {
    font-size: $small-font-size; /* All browsers */
    line-height: 0; /* AK: Prevent the element increasing the line-height of the parent. */
}

//!source {}
//--spacer {}--
//span {}
//--strike {}--

/**
 * S: Add the correct font weight in Chrome, Edge, and Safari.
 */
strong {
    font-weight: bolder;
    // Prevent increase in line-height:
    line-height: normal;
}

//!style {}

//
// N: Prevent `sub` affecting `line-height` in all browsers.
//
sub {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    bottom: -0.25em;
}

summary {
    /* S: Firefox 40+, Internet Explorer 11-, Windows Phone 8.1+ */
    /* N: Correct `block` display not defined for `details` or `summary` in IE 10/11 */
    display: block;
    
    /* S: Remove the tapping delay from clickable elements */
    -ms-touch-action: manipulation; /* S: IE10 */
    touch-action: manipulation;

    cursor: pointer; /* AK */
}

    /* AK: Normalise summary appearance: (note IE support issue )*/
    summary::-webkit-details-marker {
        display: none;
    }
    
    details > summary::before {
        content: '\25BA';
        font-family: serif;
        font-size: 0.75em;
        display: inline-block;
        vertical-align: top;
        margin-right: 0.5em;
    }

    details[open] > summary::before {
        transform: rotate(90deg);
    }
 

// N: Prevent `sup` affecting `line-height` in all browsers.
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    top: -0.5em;
}

/**
 * S1: Change the fill color to match the text color in all browsers (opinionated).
 */
svg {
    /* H, S */
    vertical-align: $media-element-vertical-align;

    fill: currentColor; /* S1 (@UNTESTED)*/
}
    // N: Correct overflow not hidden in IE 9/10/11.
    svg:not(:root) {
      overflow: hidden;
    }

table {
    border-collapse: collapse; /* N */
    border-spacing: 0; /* N */

    border: $table-border;
    background-color: $table-background-color;
    /* margin-top: -$table-border-width; */
    margin-bottom: $fallback--base-rem-space-unit - calc-rem-from-px($table-border-width);

    width: 100%;
    /* @TODO - possibly make this configurable to be 'natural' width but centered instead. */
}

//tbody {}
td {
    border: $table-border;
    padding-top: $table-cell-padding;
    padding-right: $table-cell-padding;
    /* @include calc(padding-bottom, '#{$table-cell-padding} - #{$table-border-width}'); */
    // Opera Mini needs this:
    padding-bottom: $table-cell-padding;
    padding-bottom: $table-cell-padding - calc-rem-from-px($table-border-width);
    padding-left: $table-cell-padding;
}

template {
    // S: Android 4.3-, Internet Explorer 11-, iOS 7-, Safari 7-, Windows Phone 8.1+
    // N: Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
    display: none;
}

/**
 * S1. Remove the default styling in all browsers (opinionated).
 * S3. Remove the margin in Firefox and Safari.
 */
textarea {

    resize: $textarea-resize; // S
    overflow: auto; // N, S: Edge 12+, Internet Explorer 11- // AK without this it acts like overflow: scroll.

    
    font-family: inherit; // S
    font-style: inherit; // S
    font-weight: inherit; // S

    ////min-height: $input-min-height * 2; // ~S
    min-height: $fallback--base-rem-space-unit * 3.5 - calc-rem-from-px($input-border-width * 2); // ~S
    // AK: mainly for IE

    color: $input-text-color;
    background-color: $input-background-color;

    border-width: $input-border-width;
    border-radius: $input-border-radius;
    border-color: $input-border-colour;
    border-style: $input-border-style;

    //padding-top: ($fallback--base-rem-space-unit / 8) - calc-rem-from-px($input-border-width);
    //padding-bottom: ($fallback--base-rem-space-unit / 8) - calc-rem-from-px($input-border-width);
    padding-left: $input-h-padding;
    padding-right: $input-h-padding;
    margin-top: $fallback--base-rem-space-unit / 12;
    margin-bottom: 0; /* 3 */
    //margin-bottom: ($fallback--base-rem-space-unit / 8);
    //margin-bottom: ($fallback--base-rem-space-unit / 6);

    vertical-align: top; // AK: Keep labels at the top of the container.

    // S: Remove the tapping delay from clickable elements
    -ms-touch-action: manipulation; /* S: IE10 */
    touch-action: manipulation;
}

textarea:focus {
    @include text-input-focus();
}

//tfoot {}

th {
    border: $table-border;
    padding-top: $table-cell-padding;
    padding-right: $table-cell-padding;
    /* @include calc(padding-bottom, '#{$table-cell-padding} - #{$table-border-width}'); */
    // Opera Mini needs this:
    padding-bottom: $table-cell-padding;
    padding-bottom: $table-cell-padding - calc-rem-from-px($table-border-width);
    padding-left: $table-cell-padding;
}


//thead {}
//time {}
//!title {}
//tr {}
//!track {}
//--tt {}--
//u {}

ul {
    margin-bottom: $fallback--base-rem-space-unit;
}

//var {}

/*
    A1. Allow video to center if container larger than video.
*/
video {
    display: block; /* A1 */
    margin: 0 auto; /* A1 */

    /* vertical-align: $media-element-vertical-align; // Video is now a block so no need for this */

    max-width: 100%; /* Sc */
    height: auto; /* Sc */

    background-color: $video-background-color; /* A */
}

//wbr {}
//--xmp {}--

[tabindex] {
    /* S: Remove the tapping delay from clickable elements */
    -ms-touch-action: manipulation; /* S: IE10 */
    touch-action: manipulation;
}


// specify the background color, font color, and drop shadow of text selections

::-moz-selection {
    background-color: $selection-background-color;
    color: $selection-text-color;
    text-shadow: $selection-text-shadow;
}

::selection {
    background-color: $selection-background-color;
    color: $selection-text-color;
    text-shadow: $selection-text-shadow;
}

/*------------------------------------------------------------------------------------------------*\

    Accessibility / ARIA

\*------------------------------------------------------------------------------------------------*/

[aria-busy="true"] {
    cursor: progress;
}

// S: specify the pointer cursor of trigger elements

[aria-controls] {
    cursor: pointer;
}

// S: specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements
[disabled],
[aria-disabled] {
    cursor: default;
}


// N: Address `[hidden]` styling not present in IE 8/9/10.
[hidden] {
    display: none; /* S: Internet Explorer 10- */
}

// S: specify the style of visually hidden yet accessible elements

[hidden][aria-hidden="false"] {
    clip: rect(0 0 0 0);
    position: absolute;

    /*display: inline;
    border: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    width: 1px;*/

    &:focus,
    &:active {
        clip: auto;
        position: static;

        /*height: auto;
        margin: 0;
        overflow: visible;
        width: auto;*/
    }
}


/*------------------------------------------------------------------------------------------------*\

    Utilities

\*------------------------------------------------------------------------------------------------*/

// H: Clearfix: contain floats for modern browsers
// 1. The space content is one way to avoid an Opera bug when the
//    `contenteditable` attribute is included anywhere else in the document.
//    Otherwise it causes space to appear at the top and bottom of elements
//    that receive the `clearfix` class.
// 2. The use of `table` rather than `block` is only necessary if using
//    `:before` to contain the top-margins of child elements.


.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}


.no-css-only {
    display: none;
}
/*! End Start CSS */