/*-------------------------------------------------------------------------------------------------|

    START=CSS ELEMENT: a
    ============================================================================================

|-------------------------------------------------------------------------------------------------*/

/*
    a:link a:visited a:hover a:active a:focus

    1. Remove the gray background on active links in IE 10.
    2. Remove the gaps in underlines in iOS 8+ and Safari 8+.
    3. Remove the tapping delay from clickable elements .
*/
#{$s__namespace}a[href] {
    margin-bottom: $s__anchor-border-bottom-offset;

    padding-bottom: $s__anchor-padding-bottom;

    border-bottom: $s__anchor-border-bottom;

    color: $s__anchor-text-color;
    background-color: transparent; /* 1 */

    text-decoration: $s__anchor-text-decoration;
    -webkit-text-decoration-skip: objects; /* 2 */

    -ms-touch-action: manipulation; /* 3 (IE10) */
    touch-action: manipulation; /* 3 */

    &:hover,
    &:active {
        border-bottom: $s__anchor-border-bottom--alt;

        @if $s__anchor-text-color--alt != $s__anchor-text-color {
            color: $s__anchor-text-color--alt;
        }
    }

    @if $s__anchor-focus-shadow != false {
        &:focus {
            outline: 0;
            box-shadow: 0 0 0 $s__anchor-focus-shadow-width rgba($s__anchor-text-color, 0.5);
        }
    }
}

    @if $s__anchor-add-external-link-indicator == true {
        #{$s__namespace}a[href][rel~="external"]::after {
            display: inline;

            content: "";

            padding-left: 1.16666666667em;
            
            margin: 0 0.5em;

            background: linear-gradient(45deg, transparent 50%, currentColor 50%);

            font-size: 0.375em;
            line-height: 0;

            vertical-align: super;
        }
        
        #{$s__namespace}a[href][rel~="external"]:hover::after {
            background: linear-gradient(45deg, transparent 50%, currentColor 50%);
        }
    }