/*-------------------------------------------------------------------------------------------------|

    START-CSS ELEMENT: address
    ============================================================================================

|-------------------------------------------------------------------------------------------------*/

#{$s__namespace}address {
    @if $s__procedural-margins {
        margin-bottom: $s__base-rem-space-unit;
        margin-top: 0;
    } @else {
        margin-bottom: 0;
    }
}