/*-------------------------------------------------------------------------------------------------|

    START-CSS ELEMENT: details
    ============================================================================================

|-------------------------------------------------------------------------------------------------*/

#{$s__namespace}details {
    display: block; /* N: IE 10/11 */
    @if $s__procedural-margins {
        margin-bottom: $s__base-rem-space-unit;
        margin-top: 0;
        padding-bottom: $s__base-rem-space-unit;
    } @else {
        margin-bottom: 0;
    }
    
    @include s__bordered($s__details-padding, $s__details-border-width);
    
    // Fix Chrome bug as described on https://caniuse.com/#feat=details:
    > * {
        box-sizing: border-box;
    }
}
