/*-------------------------------------------------------------------------------------------------|

    START-CSS ELEMENT: figure
    ============================================================================================

|-------------------------------------------------------------------------------------------------*/

#{$s__namespace}figure {
    display: block;

    @if $s__procedural-margins {
        margin-bottom: $s__base-rem-space-unit;
    } @else {
        margin-bottom: 0;
    }
}