/*-------------------------------------------------------------------------------------------------|

    START-CSS ELEMENT: footer
    ============================================================================================

|-------------------------------------------------------------------------------------------------*/

#{$s__namespace}footer {
    display: block;

    margin-bottom: $s__base-rem-space-unit;
    
    background-color: $s__footer-background-color;
    color: $s__footer-text-color;
}
