/*-------------------------------------------------------------------------------------------------|

    START-CSS ELEMENT: main`
    ============================================================================================

|-------------------------------------------------------------------------------------------------*/

/*
    1. Correct `block` display not defined for `main` in IE.
*/
main {
    display: block; /* 1 */
    
    width: 100%;
    min-height: 100%;

    padding: $s__main-padding;

    background-color: $s__main-background-color;
    color: $s__main-text-color;


    position: relative;

     -webkit-flex: 1 0 auto;
    -moz-box-flex: 1;
         -ms-flex: 1 0 auto;
             flex: 1 0 auto;
}
