/*-------------------------------------------------------------------------------------------------|

    START-CSS ELEMENT: p
    ============================================================================================

|-------------------------------------------------------------------------------------------------*/

#{$s__namespace}p {
    @if $s__procedural-margins {
        margin-bottom: $s__base-rem-space-unit;
        margin-top: 0;
    } @else {
        margin-bottom: 0;
    }
}