/*-------------------------------------------------------------------------------------------------|

    START-CSS ELEMENT: section
    ============================================================================================

|-------------------------------------------------------------------------------------------------*/

#{$s__namespace}section {
    display: block;

    @if $s__procedural-margins {
        margin-bottom: $s__base-rem-space-unit;
        margin-top: 0;
        padding-bottom: $s__base-rem-space-unit;
    } @else {
        margin-bottom: 0;
    }
}
