/*-------------------------------------------------------------------------------------------------|

    START-CSS ELEMENT: small
    ============================================================================================

|-------------------------------------------------------------------------------------------------*/

/*
    1. Apply consistent small font size in all browsers.
    2. Prevent the element increasing the line-height of the parent.
*/
#{$s__namespace}small {
    font-size: $s__small-font-size; /* 1 */
    line-height: normal; /* 2 */
    
    /*
    a[href] {
        margin-bottom: $s__anchor-border-bottom-offset / 2;

        padding-bottom: $s__anchor-padding-bottom / 2;

        border-bottom: #{$s__anchor-border-bottom-width / 2} $s__anchor-border-bottom-style;
    }
    
    a[href]:hover,
    a[href]:focus,
    a[href]:active {
        border-bottom: #{$s__anchor-border-bottom-width / 2} $s__anchor-border-bottom-style--alt;
    }
    */
}