/*-------------------------------------------------------------------------------------------------|
    Fall-Back Start-CSS Element: video
|-------------------------------------------------------------------------------------------------*/

$f__video-background-color: #333 !default;

/*
    1. Allow video to center if container larger than video.
*/
#{$f__namespace}video {
    display: block; /* 1 */

    max-width: 100%;

    height: auto;

    margin: 0 auto; /* 1 */

    background-color: $f__video-background-color;
}
